<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>搞笑幽默漫画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>899FD45F1BE47F3700E29F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899FD4761BE47F3700E29F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>899FD4811BE47F3700E29F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
